---
sidebar: sidebar-herald
prevurl: /Activities/Heraldry/id-tabard.html
title: Insulae Draconis War Tabard/Surcoat
---
<p>The tabard is basically a long rectangle, with a hole  for the neck, scooped out armholes and semi-circular(ish) sleeves. It is all  black except for a 8&quot; deep blue stripe across the bottom (there is no  black below this). It has no fastenings, but should be worn with a belt. The  top of the blue stripe should NOT show above the belt - there should be a small  amount of black below the belt.</p>
<p>The diagram shows the tabard folded in half at the  shoulders. You will need to take the following measurements:
</p><blockquote>
  <p>
    A = half of the largest dimension around the torso  (probably chest or tummy) <br />
    B = distance from top of shoulder to mid thigh - this may be different front  and back <br />
    C = distance across neck <br />
    D = half of distance from side of neck to point of shoulder <br />
    E = distance form top of shoulder to bottom of sleeve hole - remember to make  this big enough for the sleeves of the garb you may wear with the tabard <br />
    F = 8&quot;<br />
    G = 12&quot;<br />
    H = the distance around the scooped out armhole - you will not be able to  measure this until you have cut out the body of the tabard. <br />
    <br />
    <em> Important note:</em> none of these measurements include seam allowances - you will  need to add these when you cut out the tabard. </p>
  </blockquote>
<p>        
    Cut out a rectangle 2B (or front B + back B) long and  A wide out of black cloth. If you do not have enough material, it can be  8&quot; shorter than this, both front and back.<br />
    Fold it in half as shown in the diagram - if the front and back are not the  same length it will not line up at the bottom. <br />
    Cut out a hole C wide and large enough for your head to fit through - most  people will want it to be deeper at the front than at the back.<br />
    On each side, mark distance D from the edge of the neck hole and distance E  down from the top of the tabard. Cut a smooth curve between these points.<br />
    Measure the length of this curve (this is H).<br />
    Cut out two curved black sleeves as shown in the diagram.<br />
    Cut two strips of blue cloth 8&quot; deep by A wide.<br />
    Cut out a complete tabard in lining material.<br />
    Sew it all together. Topstitch along all the edges to  make it look neat. </p>
<p>&nbsp;</p>
<table width="80%" border="0" align="center">
  <tr>
    <td><img src="{% link activities/heraldry/files/tabard1.gif %}" alt="tabard" /></td>
    <td><img src="{% link activities/heraldry/files/tabard2.gif %}" alt="tabard" /></td>
  </tr>
</table>
<h1>&nbsp;</h1>
<p>&nbsp;</p>