---
prevurl:
  - /Events/
title: Events in Insulae Draconis
---

<style>

</style>

<div  id="calendar"
      class="calendar"
      legend="true"
      region="insulae draconis"
      progress="id"
      links="local"
></div>
<script type="text/javascript" src="https://scripts.drachenwald.sca.org/calendar/v3.0/calendar.js"></script>

<br>
<p>
If you are planning an event in Insulae Draconis,
<a href="https://docs.google.com/forms/d/e/1FAIpQLSemFd8Pauzj61Cfrt2YQy7dT35O-oT_gWHhL6rx7SOptY1IVQ/viewform?entry.92878406=Insulae+Draconis&entry.486687225=ONLY+USE+IN+CASE+OF+EMERGENCY&entry.1398533544=%0A%0A%0A%0A%0A&entry.1461532997=%0A%0A%0A%0A&entry.1599813049=%0A%0A%0A&entry.1187980275=%0A%0A%0A%0A&entry.86769978=%0A%0A%0A&entry.537680122=%0A%0A%0A%0A">submit it
to us with our google form</a>.<br />
All our events are subject to the <a href="https://drachenwald.sca.org/offices/seneschal/files/DrachenwaldCodeofConductv1.0June2020.pdf">Drachenwald Code of Conduct</a>.
</p>